@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    --background: rgba(255, 255, 255);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.billede1 {
    display: flex;
    width: 100%;
    padding-top: 5%;
}

/*------------artikel-----------------*/

.artikel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 120%;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 10%;
    background-color: #DACCCC;
}

.audio {
    width: 90%;
    display: flex;
    justify-content: center;
}

.overskrift_inspi {
    font-size: 250%;
}

.artikel_foto {
    width: 55%;
    padding-left: 25%;
    padding-top: 2%;
}

.host {
    width: 50%;
    padding-left: 25%
}

.content {
    height: 200vh;
    background-color: black;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

.familie {
    width: 60%;
    padding-left: 25%;
}

/*-------------sirup-------------*/

@media(min-width:768px) {
    .sirup_container {
        display: flex;
        padding-left: 20%;
    }

    .sirup_billeder {
        display: flex;
        flex-direction: row;
        padding-top: 2%;
    }

    .video1 {
        width: 50%;
        padding-top: 5%;
    }

    .video {
        width: 70%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

/*---------------end of min-width---------*/

.box-2 {
    width: 100%;
    padding-top: 3%;
}

.opskrift {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.videre {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 20%;
    background-color: #DACCCC;
}

/*-------------Billeder af sirup---------*/
.pic1 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 65%;
    margin: 5%;
}

/*------------appelsin--------------------*/


.appelsin_howto {
    padding-left: 20%;
}

.pic_1 {
    width: 63%;
}

.pic_2 {
    width: 70%;
    display: flex;
    margin: 5%;
    justify-content: center;
}

.pic_3 {
    width: 55%;
}

/*----------Kontakt--------------------*/

.kontakt_billede {
    width: 70%;

}

/*-------------om---------------------*/

.om {
    background-color: #DACCCC;
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 30%;
}


/*------------------ Footer ------------------*/
.footer {
    background-color: #d0b2b2;
    padding: 2%;
}

.sociale {
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-left: 50%;
}

.footer_tekst {
    align-content: center;
    padding-left: 50%;
    font-size: 200%;
}


@media(min-width:768px) {
    .appelsin_container {
        display: flex;
        background-color: #DACCCC;
        padding-left: 20%;
    }

    .appelsin_billeder {
        display: flex;
        padding-left: 10%;
    }

}

/* -----navigation styles start here------ */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        padding-bottom: 1%;
    }

    .logo {
        grid-column: 2 / 3;
        font-size: 150%;
        align-content: space-around;
        font-family: "Helvetica", thin;
    }

    nav {
        // all: unset; 
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;

        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }


}
